body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: "Segoe UI", sans-serif;
}

#map {
  height: 100vh;
  width: 100%;
}

.map-header {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(15, 23, 42, 0.95);
  padding: 12px 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(56,189,248,0.4);
  z-index: 1000;
  font-size: 18px;
}
